@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
    url('/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff'),
    url('/fonts/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/space-grotesk/SpaceGrotesk-Variable.woff2') format('woff2'),
    url('/fonts/space-grotesk/SpaceGrotesk-Variable.woff') format('woff'),
    url('/fonts/space-grotesk/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}
