:root {
  /* Palette */
  --palette-black: #000;
  --palette-blue: #37f;
  --palette-blue-light: #69f;
  --palette-gray: #bcbcbc;
  --palette-gray-light: #f7f7f7;
  --palette-white: #fff;

  --palette-ivory: #fefefe;

  /* Colors */
  --color-primary: var(--palette-blue);
  --color-secondary: var(--palette-yellow-300);

  /* Backgrounds */
  --color-background: var(--palette-gray-light);

  --color-background-header: var(--palette-ivory);
  --color-background-nav: var(--palette-ivory);

  /* Text */
  --color-text: var(--palette-black);
  --color-text-primary: var(--palette-white);

  /* Typography */
  --font-family-sans-fallback: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';

  --font-family-body: Satoshi, var(--font-family-sans-fallback);
  --font-family-heading: 'Space Grotesk', var(--font-family-sans-fallback);

  /* Sizes */
  --size-thinnest: 1px;

  --size-screen-height: 100dvh;
  --size-body-max-width: 75rem;
  --size-header-height: 4.25rem;
  --size-footer-height: 3.25rem;
  --size-nav-width: 20rem;
  --size-search-width-desktop: 25rem;
  --size-search-width-mobile: 100%;

  --size-body-padding-inline-base: 1.5rem;
  --size-body-padding-inline-small: 1rem;

  /* Values */
  --value-golden-ratio: 1.618;
}
